<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>Label</key>
	<string>com.olx.appium-node2</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/appium</string>
		<string>-bp=18000</string>
		<string>-p=4545</string>
		<string>--session-override</string>
		<string>-U=emulator-5558</string>
		<string>--nodeconfig=/Users/macmini-test02/jenkins/workspace/AT/UP_GENYnd/sl-2/emu3.json</string>
	</array>
	<key>Debug</key>
	<true/>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Users/macmini-test02/Library/Logs/appium-three.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/macmini-test02/Library/Logs/appium_error_three.log</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/bin:/usr/bin:/usr/local/bin</string>
		<key>java</key>
		<string>/Library/Java/JavaVirtualMachines/jdk1.8.0_91.jdk/Contents/Home/bin/java</string>
		<key>ANDROID_HOME</key>
		<string>/usr/local/share/android</string>
	</dict>
</dict>
</plist>
